// patron de colores:
$complementario: #fa5959;
$principal: #5265e1;
$gris: rgb(236, 234, 234);

//
//modificar variables de bootstrap:
//
$theme-colors: (
  "danger": $complementario,
  "primary": $principal,
  "light": $gris,
);

@import "../libs/bootstrap/scss/bootstrap.scss";
