// patron de colores:
$complementario: #fa5959;
$principal: #5265e1;
$gris: rgb(236, 234, 234);

//
//modificar variables de bootstrap:
//
$theme-colors: (
  "danger": $complementario,
  "primary": $principal,
  "light": $gris,
);
.footerContainer {
  background-color: primary;
  font-size: 16px;
  color: rgb(214, 214, 214);
  padding: 5px;
  width: 100vw;
  text-align: justify;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  left: -0%;
}

@import "../libs/bootstrap/scss/bootstrap.scss";
